.Hall_of_Fame {
  /* background-color: #464036; */
  background-color: #35322c;
  padding: 4rem 0;
}
.HOF{
    color: #a18d6f;
    display: flex;
    justify-content: center;
    font-weight: 800;
    font-size: 2rem;
}
/* Profile container */
.Profile {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 2rem;
  margin: 3rem auto;
  width: 90%;
  max-width: 1200px;
}

/* Alternate layout for every second profile (image on right) */
/* .Profile:nth-child(odd) {
  flex-direction: row-reverse;
} */

/* Common image style */
.Hazard,
.Henry, .Aguero, .Neville, .Shearer, .Gerrard, .Lampard, .Drogba, .Kompany, .Wright, .Cole, .AndrewCole,.JohnTerry, .Beckham, .Bergkamp{
  flex: 1 1 50%;
  height: 400px;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
}

/* Specific images */
.Hazard {
  background-image: url("/images/HoF/Hazard2.webp");
}

.Henry {
  background-image: url("/images/HoF/Henry.webp");
}

.Aguero {
    background-image: url("/images/HoF/Aguero.webp");
}

.Neville {
    background-image: url("/images/HoF/Neville2.webp");
}

.Shearer {
    background-image: url("/images/HoF/Shearer.webp");
}

.Gerrard {
    background-image: url("/images/HoF/Gerrard.webp");
}

.Lampard {
    background-image: url("/images/HoF/Lampard.webp");
}

.Drogba {
    background-image: url("/images/HoF/Drogba.webp");
}

.Kompany {
  background-image: url("/images/HoF/Kompany.webp");
}

.Wright {
  background-image: url("/images/HoF/Wright.webp");
}

.Cole {
  background-image: url("/images/HoF/AshleyCole.webp");
}

.AndrewCole {
  background-image: url("/images/HoF/AndrewCole.webp");
}

.JohnTerry {
  background-image: url("/images/HoF/JohnTerry.webp");
}

.Beckham {
    background-image: url("/images/HoF/Beckham.webp");
}

.Bergkamp {
    background-image: url("/images/HoF/Bergkamp.webp");
}
.Cantona {
    background-image: url("/images/HoF/Cantona.webp");
}

/* Summary styling */
.summary {
  flex: 1 1 50%;
  background-color: #cfcece;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.title {
  color: rgb(161, 170, 47);
  font-weight: 800;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.description {
  color: rgb(90, 90, 90);
  font-weight: 400;
  /* font-size: 1.2rem;
  line-height: 1.8rem; */
  font-size: 1.2rem;
  line-height: 1.4rem;
}

/* Responsive design */
@media (max-width: 900px) {
  .Profile {
    flex-direction: column;
  }

  .Hazard,
  .Henry, .Aguero, .Neville, .Shearer, .Gerrard, .Lampard, .Drogba, .Kompany, .Wright, .Cole, .AndrewCole, .JohnTerry, .Beckham, .Bergkamp{
    flex: none;
    width: 100%;
    height: 300px;
    background-size: cover;
  }

  .summary {
    padding: 1.5rem;
  }

  .title {
    font-size: 1.6rem;
  }

  .description {
    font-size: 1rem;
  }
}
