.haaland-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  background-color:#380F4C;
  color: white;
}

/* ---------------- LEFT SECTION ---------------- */
.player-left {
  flex: 1;
  position: relative;
  padding: 2rem;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* .back-num {
  position: absolute;
  font-size: 25rem;
  font-weight: 800;
  color: rgba(255, 255, 255, 0.12);
  top: 10%;
  left: 10%;
  z-index: 1;
} */

.jersey-num {
  font-size: 1.5rem;
}

.player-text {
  position: relative;
  z-index: 2;
}

.player-text h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.1;
}

.player-role {
  font-size: 1.3rem;
  margin-top: 0.5rem;
}

.player-img {
  position: relative;
  z-index: 2;
  width: 16rem;
  margin-top: 1.5rem;
}

.player-img img {
  width: 100%;
  height: auto;
}

/* Info Box */
.player-box {
  margin-top: 1.5rem;
  background-color: #380F4C;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.8rem;
  border-radius: 8px;
}

.player-box p {
  margin: 0;
  font-size: 0.9rem;
}

/* ---------------- RIGHT SECTION ---------------- */
.player-stats {
  flex: 2;
  background-color: #380f4c3c;
  position: relative;
  padding: 2rem;
  overflow: hidden;
}

/* Faint Club Logo */
.club-logo {
  background: url("/images/Clubs/Mancity.png") center/contain no-repeat;
  opacity: 1;
  position: absolute;
  inset: 0;
  z-index: 0;
  background-size: 25%;
  /* max-width: 100%;
  height: auto; */
  margin-top: 6rem;
}

/* Stats header */
.stats-header {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
  z-index: 2;
  position: relative;
}

.stats-header div h3 {
  font-size: 1.2rem;
  opacity: 0.8;
}

.stats-header div p {
  font-size: 2rem;
  font-weight: bold;
}

/* Stats Body */
.stats-body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  position: relative;
  z-index: 2;
}

.stats-body h4 {
  margin-bottom: 0.6rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.stats-body p {
  margin: 0.4rem 0;
  font-size: 0.95rem;
  opacity: 0.9;
}

/* ---------------- RESPONSIVE ---------------- */
@media (max-width: 900px) {
  .haaland-container {
    flex-direction: column;
  }

  .back-num {
    font-size: 9rem;
    top: 30%;
    left: 5%;
  }

  .player-left {
    align-items: center;
    text-align: center;
  }

  .player-box {
    grid-template-columns: repeat(2, 1fr);
  }

  .player-stats {
    padding: 1.5rem;
  }

  .stats-body {
    grid-template-columns: 1fr;
  }
}
